#wrap {min-height:100%;width:100%;background:url(../img/bg2.jpg) gray no-repeat 50% 50%; position:relative;}

	.toolbar{height:56px;width:95%;margin:0 auto;box-shadow:0px 0px 8px;border-radius:0px 0px 10px 10px;background:#132137 url(../img/toolbar/logo.png) 20px 13px no-repeat;text-align:center;}
		.ticon{padding-top:7px;display:flex;align-items:center; justify-content:center;}
			.ticon li{width:43px;height:43px;align-items:center;display:flex;justify-content:center;margin:0 2px;cursor:pointer;}
			.ticon li:hover{background-color:#455063;}
			.ticon li.on {background-color:#455063;border:1px solid #5f6877;}
			.ticon li.gubun{width:1px;margin:0 7px; background:url(../img/toolbar/gubun.png) 0px 7px no-repeat; cursor:default;}
			.ticon li.pageinput{width:56px;margin:0 5px; cursor:default;}
			.ticon li.pageinput:hover{background-color:#132137;}
			.ticon li input{width:56px;height:26px;text-align:center; background-color:#ddd; border:none;}
		
	.bookwrap{width:100vw;position:absolute;display:flex;align-items:center; justify-content:center;}	
		.pagearrow{width:50px;}
		.con{display:flex;align-items:center; justify-content:center;}
		.page{display:flex;align-items:center; justify-content:center;}
		
	.wordlist{max-width:15%; position:absolute;border:1px solid #ddd; background-color:#fff;box-shadow:0px 0px 8px; font-size:1.2vmax;}
		.word_eng{font-weight:bold;padding:5px; background-color:#f2f2f2;}
		.word_kor{padding:5px;}
		.word_img{max-width:200px;margin:0 auto; padding:10px;}	
			
	.thumbnail{position:absolute;bottom:0; width:100%;}
		.thum_title{height:27px;width:146px;box-shadow:0px 0px 8px;border-radius:10px 10px 0px 0px;background:#132137 url(../img/thumbnail/title_on.png) 13px 5px no-repeat;margin:0 auto;display:flex;align-items:center; justify-content:center;}
		.thum_img{width:90%;margin:10px auto 0;display:flex;align-items:center; justify-content:center;}
			.thum_img li{display:flex;align-items:center; justify-content:center;}
			.thum_img li.thumbpage{width:calc(100% - 62px); overflow: hidden;}
			.thum_img li.thumbpage img{box-shadow:0px 0px 4px; margin:4px 10px;cursor:pointer;}
			.w26{width:31px;}
			.tal{text-align:left;}
			.tar{text-align:right;}
		
		/* Thumbnail Show/Hide */
		.thumbnail input{display:none;}
		.thum_wrap{display:none;transition:opacity 1.5s linear, max-height 1.5s linear;height:130px;border-top:1px solid #212121;}
		input[type=checkbox]:checked + label + div {display:block;}
		input[type=checkbox]:checked + label {background:#132137 url(../img/thumbnail/title_off.png) 13px 5px no-repeat;}

@media screen and (max-width:1279px){

}
